<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<header>
    {% include "header.html" %}
</header>
<body>
<br>
<br>

     <div class="container-fluid ">
         <div class="row justify-content-center align-items-center">
             <div class="col-2 border border-primary rounded-lg ">
                  <div class="form-group">
                    <label for="exampleDropdownFormEmail2" class="mr-sm-1">Login</label>
                    <input type="login" class="form-control mr-sm-2" id="exampleDropdownFormEmail2" placeholder="Login">
                  </div>

                  <div class="form-group">
                    <label for="exampleDropdownFormPassword2" class="mr-sm-1">Password</label>
                    <input type="password" class="form-control mr-sm-2" id="exampleDropdownFormPassword2" placeholder="Password">

      </div>

      <div class="form-group form-check">

          <input type="checkbox" class="form-check-input mr-sm-2" id="dropdownCheck2">
          <label class="form-check-label mr-sm-1" for="dropdownCheck2" >
              <div>Remember me</div>
          </label>

      </div>

                 <a href="/login/"><button type="submit" class="btn btn-success mr-sm-2">Log in</button></a>
                <div><br></div>
                 </div>
          </div>
     </div>

</body>
<br>
    {% include "footer.html" %}
</html>