<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Menu</title>
</head>
<header >
    {% include "header.html" %}
</header>
<body>
    <table border="2">
        <tr>
            <th style="border: 2px solid">id</th>
            <th style="border: 2px solid">name</th>
        </tr>
        <tr>
            {% for menu_item in menu_items %}
                <tr>
                    <th style="border: 2px solid">{{menu_item.id}}</th>
                    <th style="border: 2px solid">{{menu_item.name}}</th>
                </tr>
            {%endfor%}
        </tr>
    </table>
</body>
<footer>
    {% include "footer.html" %}
</footer>
</html>